<section>
    <h1 class="text-center py-3">Panel de control de reclamos</h1>
</section>

<section class="py-3">
    <h2>Listado de reclamos:</h2>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each reclamos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{autor}}</td>
                        <td>{{titulo}}</td>
                        <td>{{estado}}</td>
                        <td><a class="btn btn-info" href="/reclamos/{{id}}" target="_blank">Detalles</a></td>
                        <td><button class="btn btn-danger btnEliminar" data-id="{{id}}">Eliminar</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>


<script>
    let btnsEliminar = document.querySelectorAll(".btnEliminar");

    btnsEliminar.forEach(btnEliminar => {
        btnEliminar.addEventListener("click", async(event) => {
            
            //ACCIÓN DE ENVIAR ID DE ELEMENTO A ELIMINAR

            let id = btnEliminar.dataset.id;
            let confirmacion = confirm("Está seguro que desea eliminar el reclamo con ID: "+ id);

            if(confirmacion){
                let response = await fetch("/api/reclamos?id="+id, {
                    method: "DELETE"
                });
                
                let data = await response.json();

                if(data.code == 200){
                    alert(data.message);
                    location.reload();
                }else {
                    alert("Error: "+ data.message);
                }
            }
        })
    })


</script>